<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sample</title>
​   <link rel="shortcut icon" href="#">
  <!-- Leaflet CSS -->
  
​
  <!-- Our CSS -->
  
</head>
<body>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/queue.v1.min.js"></script>
  
  
<script src='./static/js/test.js' type='text/javascript'></script>
 
<script src='./static/js/queue.js' type='text/javascript'></script>




</body>
​
</html>